{% include sorted-elements.html %}

<div id="sidebar">
  <ul>
    <li><a href="/people/">People</a>
      <ul>
        {% for person in sorted_loonwerks %}
        <li><a href="{{ person.url }}">{{ person.fullname }}</a></li>
        {% endfor %}
      </ul>
    </li>
    <li><a href="/projects/">Projects</a>
      <ul>
        {% for project in sorted_projects %}
        <li><a href="{{ project.url }}">{{ project.shortname }}</a></li>
        {% endfor %}
      </ul>
    </li>
    <li><a href="/tools/">Tools</a>
      <ul>
        {% for tool in sorted_tools %}
        <li><a href="{{ tool.url }}">{{ tool.toolname }}</a></li>
        {% endfor %}
      </ul>
    </li>
    <li>
      <a href="/publications/">Publications</a>
    </li>
    <!--   
    <li>
      <a href="/people/cornwerks.html">Cornwerks</a>
    </li>
    -->
    <li>
      <a href="https://www.facebook.com/groups/1056484394363020/">Facebook</a>
    </li>
  </ul>
</div>

