{% include sorted-elements.html %}

<div id="sidebar">
  <ul>
    <li><a href="/people/minnesota.html">Headquarters</a>
      <ul>
        {% for person in sorted_minnesota %}
        <li><a href="{{ person.url }}">{{ person.fullname }}</a></li>
        {% endfor %}
      </ul>
    </li>
    <li><a href="/people/iowa.html">Iowa Chapter</a>
      <ul>
        {% for person in sorted_iowa %}
        <li><a href="{{ person.url }}">{{ person.fullname }}</a></li>
        {% endfor %}
      </ul>
    </li>
    <li><a href="/people/alumni.html">Alumni</a>
      <ul>
        {% for person in sorted_alumni %}
        <li><a href="{{ person.url }}">{{ person.fullname }}</a></li>
        {% endfor %}
      </ul>
    </li>
    <li><a href="/projects/">Projects</a>
      <ul>
        {% for project in sorted_current_projects %}
        <li><a href="{{ project.url }}">{{ project.shortname }}</a></li>
        {% endfor %}
        <li><i><a href="/projects/past.html">Past Projects</a></i></li>
      </ul>
    </li>
    <li><a href="/tools/">Tools</a>
      <ul>
        {% for tool in sorted_tools %}
        <li><a href="{{ tool.url }}">{{ tool.toolname }}</a></li>
        {% endfor %}
      </ul>
    </li>
    <li>
      <a href="/publications/">Publications</a>
    </li>
    <li>
      <a href="https://www.facebook.com/loonwerks/">Facebook</a>
    </li>
  </ul>
</div>

