---
layout: default
---

{% include sorted-elements.html %}

<div id="person">
  <header>
    <div id="summary">
      {% if page.picture %}<div id="picture"><img src="{{ page.picture }}"/></div>{% endif %}
      <div id="data">
        <h1 id="name">{{ page.fullname }}</h1>
        <h2 id="position">{{ page.position }}</h2>
        <span id="email"><a href="mailto:{{ page.email }}">{{ page.email }}</a></span>
      </div>
    </div>
  </header>

  <article>
    {{ content }}
  </article>

  <h2>Publications</h2>
  <ul>
  {% for pub in sorted_publications %}
    {% if pub.authors contains page.author_key %}
      {% include pub-ref.html %}
    {% endif %}
  {% endfor %}
  </ul>
</div>
