---
layout: default
---

{% include sorted-elements.html %}

<div id="person">
  {% if page.location == 'alumni' %}
  <blockquote>
    <i>Most birds lay their eggs in nests, and the nestlings remain in
      the nest for days or weeks. Not loons! It would be incorrect to call
      loon chicks "nestlings" for more than a few hours. Once they leave
      the nest, they're out of there for good!</i>
    <br/>
    <br/>
    <p style="text-align: right"><a href="https://www.learner.org/jnorth/tm/loon/BabyOnBoard.html">Journey North</a></p>
  </blockquote>
  <br/>
  <br/>
  {% endif %}

  <header>
    <div id="summary">
      {% if page.picture %}<div id="picture"><img src="{{ page.picture }}"/></div>{% endif %}
      <div id="data">
        <h1 id="name">{{ page.fullname }}</h1>
        <h2 id="position">{{ page.position }}</h2>
        <span id="email"><a href="mailto:{{ page.email }}">{{ page.email }}</a></span>
      </div>
    </div>
  </header>

  <article>
    {{ content }}
  </article>

  <div class="publications">
    <h2>Publications</h2>
    <ul>
      {% for pub in sorted_publications %}
        {% if pub.authors contains page.author_key %}
		
		{% capture year %}{{ pub.date | date: '%Y' }}{% endcapture %}
          {% if year != pyear %}
            {% if pyear != '' %}
      </ul>
           {% endif %}
      <b>{{ year }}</b>
      <ul>
         {% endif %}
		
          {% include pub-ref.html %}
		  {% assign pyear = year %}
        {% endif %}
      {% endfor %}
    </ul>
  </div>
</div>
