---
layout: default
---

{% assign sorted_publications = site.pages | where: 'layout', 'publication' | sort: 'date' | reverse %}

<div class="person">
  <header class="person-header">
    <h1 class="person-name">{{ page.fullname }}</h1>
    {% if page.picture %}<img src="{{ page.picture }}"/>{% endif %}
    <h2 class="person-position">{{ page.position }}</h2>
    <span class="person-email"><a href="mailto:{{ page.email }}">{{ page.email }}</a></span>
  </header>

  <article class="person-content">
    {{ content }}
  </article>

  <h2>Publications</h2>
  <ul>
  {% for pub in sorted_publications %}
    {% if pub.authors contains page.fullname %}
      <li><a href="{{ pub.url }}">{{ pub.title }}, {{ pub.authors }}, {{ pub.info }}</a></li>
    {% endif %}
  {% endfor %}
  </ul>
</div>
