---
layout: default
---

{% include sorted-elements.html %}

<div id="tool">
  <header>
    <div id="text">
      <h1 id="name">{{ page.toolname }}</h1>
      <h2 id="summary">{{ page.summary }}</h2>
    </div>
    <div id="download">
      <a href="{{ page.download }}">Download</a> <a href="{{ page.download }}"><img src="/images/download.png" /></a>
    </div>
    <div id="sourcecode">
      <a href="{{ page.sourcecode }}">Source Code</a> <a href="{{ page.sourcecode }}"><img src="/images/sourcecode.png" /></a>
    </div>
  </header>

  <article>
    {{ content }}
  </article>

  {% assign has_publications = false %}
  {% for pub in sorted_publications %}
    {% if pub.tools contains page.toolname %}
      {% assign has_publications = true %}
    {% endif %}
  {% endfor %}

  {% if has_publications %}
    <div class="publications">
      <h2>Publications</h2>
      <ul>
        {% for pub in sorted_publications %}
          {% if pub.tools contains page.toolname %}
            {% include pub-ref.html %}
          {% endif %}
        {% endfor %}
      </ul>
    </div>
  {% endif %}
</div>
